EDA (Exploratory Data Analysis) LLamadas 123 Julio 2022

In [9]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# importar librerias del sistema

import os
from pathlib import Path

In [16]:
# ruta del proyecto
root_dir = Path(".").resolve().parent
print("root dir:", root_dir)

root dir: C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B

In [17]:
# ruta del proyecto
filename = "llamadas123_julio_2022.csv"
data_dir = "raw"
file_path = os.path.join(root_dir, "data",data_dir, filename)
print(file_path)

C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B\data\raw\llamadas123_julio_2022.csv

In [25]:
# leer archivo
data = pd.read_csv(file_path, encoding="latin-1", sep=";")

In [26]:
# mostrar primeras filas
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [28]:
# cantidad de filas y columnas, retorna una tupla
data.shape

(13055, 11)

In [29]:
data.dtypes

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [33]:
# extraer los valores unicos de las columnas 

col = "GENERO"
valores_unicos = data[col].unique()

In [34]:
# longitud de una lista

len(valores_unicos)

3

In [36]:
# traer una lista con las cabeceras de la tabla
for col in data.columns:
    print(col)

NUMERO_INCIDENTE
FECHA_INICIO_DESPLAZAMIENTO_MOVIL
CODIGO_LOCALIDAD
LOCALIDAD
EDAD
UNIDAD
GENERO
RED
TIPO_INCIDENTE
PRIORIDAD
RECEPCION

In [38]:
# Crear un diccionario vacio
dict_resumen = dict()

# traer una lista con las cabeceras de la tabla
for col in data.columns:
    valores_unicos = data[col].unique()
    n_valores = len(valores_unicos)
    # print(col,n_valores)
    dict_resumen[col] = n_valores

In [53]:
dict_resumen

{'NUMERO_INCIDENTE': 12015,
 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781,
 'CODIGO_LOCALIDAD': 20,
 'LOCALIDAD': 20,
 'EDAD': 100,
 'UNIDAD': 6,
 'GENERO': 3,
 'RED': 5,
 'TIPO_INCIDENTE': 21,
 'PRIORIDAD': 4,
 'RECEPCION': 5235}

In [61]:
df_resumen = pd.DataFrame.from_dict(dict_resumen, orient="index")
df_resumen.rename({0: 'Count'}, axis=1, inplace=True)
df_resumen

SyntaxError: invalid syntax (4127484446.py, line 2)

In [58]:
# Guardar la tabla 
out_name = "resumen_"+filename
out_path = os.path.join(root_dir, "data", "processed", out_name)
print(out_path)

df_resumen.to_csv(out_path)

C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B\data\processed\resumen_llamadas123_julio_2022.csv