In [2]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd
# importar librerias del sistema
import os
from pathlib import Path
# libreria para fechas
from dateutil.parser import parse

In [3]:
# Ruta del proyecto
root_dir = Path(".").resolve().parent
root_dir

WindowsPath('C:/Users/romario.silva/Documents/ESEIT/Herramientas y Lenguajes para Big Data/BigData2022B')

In [5]:
# ruta del proyecto
#filename = input("Ingrese el nombre de archivo: ")
filename = "llamadas123_julio_2022.csv"
data_dir = "raw"
file_path = os.path.join(root_dir,"data",data_dir, filename)
print(file_path)

# C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B\data\raw

C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B\data\raw\llamadas123_julio_2022.csv

In [7]:
# leer archivo
#data = pd.read_csv(file_path, encoding="latin-1", sep=";")
data = pd.read_csv(file_path, encoding="latin-1", sep=";")
# copia de df original
new_data = data.copy()

In [8]:
# mostrar primeras filas
new_data.head(100)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
95,CRU-00278619-22,2022-07-01 08:25:28,7,Bosa,26,A¤os,MASCULINO,Sur Occidente,Trastorno Mental,MEDIA,2022-07-01 12:52:33
96,CRU-00278642-22,2022-07-01 08:25:30,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
97,CRU-00278642-22,2022-07-01 08:25:30,11,Suba,33,A¤os,FEMENINO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
98,CRU-00278637-22,2022-07-01 08:26:43,14,Los M rtires,78,A¤os,MASCULINO,Sur Occidente,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
99,CRU-00278632-22,2022-07-01 08:28:11,16,Puente Aranda,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Trastorno Mental,ALTA,0000-00-00 00:00:00

In [32]:
# ver df
new_data.info()

(13055, 11)

In [19]:
new_data["EDAD"].value_counts(dropna=False)

SIN_DATO    6203
23           151
22           140
30           135
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [30]:
# valores por columna
new_data["TIPO_INCIDENTE"]

0        Accidente Cerebro Vascular
1                            Herido
2               Evento Respiratorio
3                            Herido
4               Intento de Suicidio
                    ...
13050         Acompañamiento Evento
13051         Acompañamiento Evento
13052         Acompañamiento Evento
13053         Acompañamiento Evento
13054    Accidente Cerebro Vascular
Name: TIPO_INCIDENTE, Length: 13055, dtype: object

In [430]:
# Eliminar los registros duplicados, dejando solo el primer registro
print("filas y columnas", new_data.shape)
new_data = new_data.drop_duplicates()
print("filas y columnas sin duplicados", new_data.shape) 
# resetear indices de la tabla
new_data = new_data.reset_index(drop=True)

filas y columnas (13055, 11)
filas y columnas sin duplicados (13026, 11)

In [22]:
def str_to_datetime(value_str):
    try:
        var_datetime2 = parse(value_str, dayfirst=False)
        var_datetime = pd.to_datetime(var_datetime2)
    except Exception as e:
        #print(value_str, e)
        var_datetime = np.nan
    return var_datetime

In [23]:
# iterar por cada registro para convertir a datetime Campo FECHA_INICIO_DESPLAZAMIENTO_MOVIL

fecha_ini_despl_movil = new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]
list_fecha_ini_despl_movil = list()

for i in range(0,len(fecha_ini_despl_movil)):
    result_ini_despl_movil = str_to_datetime(fecha_ini_despl_movil[i])
    list_fecha_ini_despl_movil.append(result_ini_despl_movil)
    
new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"] = list_fecha_ini_despl_movil
new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]

0       2022-07-01 00:08:59
1       2022-07-01 00:14:58
2       2022-07-01 00:21:59
3       2022-07-01 00:38:38
4       2022-07-01 00:53:32
                ...
13050   2022-08-08 05:31:48
13051   2022-08-08 10:38:32
13052   2022-08-08 11:23:01
13053   2022-08-08 11:23:01
13054                   NaT
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13055, dtype: datetime64[ns]

In [434]:
# iterar por cada registro para convertir a datetime Campo RECEPCION

fecha_recepcion = new_data["RECEPCION"]
list_fecha_recepcion = list()

for i in range(0,len(fecha_recepcion)):
    result_fecha_recepcion = str_to_datetime(fecha_recepcion[i])
    list_fecha_recepcion.append(result_fecha_recepcion)
    

new_data["RECEPCION"] = list_fecha_recepcion
new_data["RECEPCION"]

0       2022-07-01 03:40:13
1       2022-07-01 03:38:13
2       2022-07-01 04:08:24
3                       NaT
4       2022-07-01 03:25:29
                ...
13021   2022-08-08 06:48:00
13022                   NaT
13023   2022-09-08 13:13:00
13024                   NaT
13025                   NaT
Name: RECEPCION, Length: 13026, dtype: datetime64[ns]

In [25]:

# remplazar valor SIN_DATA a 0
new_data["EDAD"]  = new_data["EDAD"].replace({"SIN_DATO": 0})
# convertir columna a int64
new_data = new_data.astype({"EDAD":'int64'},errors = 'ignore') 
# ver columna
new_data["EDAD"]

0        88
1        16
2        52
3         0
4        33
         ..
13050    18
13051     0
13052    11
13053    19
13054     0
Name: EDAD, Length: 13055, dtype: int64

In [27]:
# remplazar valor SIN_DATA a Null
new_data["GENERO"]  = new_data["GENERO"].replace({"SIN_DATO": np.nan}) 
new_data["UNIDAD"]  = new_data["UNIDAD"].replace({"SIN_DATO": np.nan}) 


new_data["UNIDAD"].value_counts(dropna=False)

A¤os     6794
NaN      6211
Meses      39
Horas       6
Dias        5
Name: UNIDAD, dtype: int64

In [28]:
# Remplazar Caracter especial por palabra
new_data["UNIDAD"]  = new_data["UNIDAD"].replace({"A¤os": "Años"}) 
new_data["TIPO_INCIDENTE"]  = new_data["TIPO_INCIDENTE"].replace({"Convulsi¢n": "Convulsión","Dolor Tor cico": "Dolor Torácico","S¡ntomas Gastrointestinales": "Sintomas Gastrointestinales","Ca¡da de Altura": "Caida de Altura","Patolog¡a Ginecobsttrica": "Patologia Gineco Obstétrica","Intoxicaci¢n": "Intoxicación","Acompa¤amiento Evento": "Acompañamiento Evento","Electrocuci¢n / rescate": "Electrocución / rescate"}) 
new_data["LOCALIDAD"]  = new_data["LOCALIDAD"].replace({"Engativ ": "Engativá","Ciudad Bol¡var": "Ciudad Bolívar","Fontib¢n": "Fontibón","Usaqun": "Usaquén","San Crist¢bal": "San Cristóbal","Los M rtires": "Los Mártires","Antonio Nari¤o": "Antonio Nariño"}) 
new_data["LOCALIDAD"].value_counts()

Kennedy               1741
Suba                  1324
Engativá              1309
Bosa                  1066
Ciudad Bolívar        1009
Puente Aranda          743
Fontibón               670
Usaquén                668
Rafael Uribe Uribe     605
San Cristóbal          597
Usme                   597
Chapinero              513
Tunjuelito             393
Barrios Unidos         391
Los Mártires           381
Teusaquillo            361
Santa Fe               357
Antonio Nariño         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64